USE [master]
GO
/****** Object:  Database [MovieShop]    Script Date: 1/7/2022 12:27:33 PM ******/
CREATE DATABASE [MovieShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL1\MSSQL\DATA\MovieShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovieShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL1\MSSQL\DATA\MovieShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieShop]
GO
/****** Object:  User [aspDbProject]    Script Date: 1/7/2022 12:27:33 PM ******/
CREATE USER [aspDbProject] FOR LOGIN [aspDbProject] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [aspDbProject]
GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 1/7/2022 12:27:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViet](
	[maBV] [varchar](10) NOT NULL,
	[tenBV] [nvarchar](250) NOT NULL,
	[hinhDD] [varchar](max) NULL,
	[hinhDD2] [varchar](max) NULL,
	[ndTomTat] [nvarchar](2000) NULL,
	[ngayDang] [datetime] NULL,
	[loaiTin] [nvarchar](30) NULL,
	[noiDung] [nvarchar](max) NULL,
	[taiKhoan] [varchar](20) NOT NULL,
	[daDuyet] [bit] NULL,
	[luotXem] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maBV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CtDonHang]    Script Date: 1/7/2022 12:27:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtDonHang](
	[soDH] [varchar](10) NOT NULL,
	[maPhim] [varchar](10) NOT NULL,
	[soLuong] [int] NULL,
	[giaBan] [bigint] NULL,
	[giamGia] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[soDH] ASC,
	[maPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 1/7/2022 12:27:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[soDH] [varchar](10) NOT NULL,
	[maKH] [varchar](10) NOT NULL,
	[taiKhoan] [varchar](20) NOT NULL,
	[ngayDat] [datetime] NULL,
	[daKichHoat] [bit] NULL,
	[ngayGH] [datetime] NULL,
	[emailGH] [nvarchar](250) NULL,
	[ghiChu] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[soDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 1/7/2022 12:27:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [varchar](10) NOT NULL,
	[tenKH] [nvarchar](50) NOT NULL,
	[soDT] [varchar](20) NULL,
	[email] [varchar](50) NULL,
	[diaChi] [nvarchar](250) NULL,
	[ngaySinh] [datetime] NULL,
	[gioiTinh] [bit] NULL,
	[ghiChu] [ntext] NULL,
	[lanMua] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhim]    Script Date: 1/7/2022 12:27:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhim](
	[maLoai] [int] IDENTITY(1,1) NOT NULL,
	[tenLoai] [nvarchar](88) NOT NULL,
	[ghiChu] [ntext] NULL,
	[hinhDD] [varchar](max) NULL,
	[hinhDD2] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 1/7/2022 12:27:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[maPhim] [varchar](10) NOT NULL,
	[tenPhim] [nvarchar](500) NOT NULL,
	[hinhDD] [varchar](max) NULL,
	[hinhDD2] [varchar](max) NULL,
	[ndTomTat] [nvarchar](2000) NULL,
	[ngayDang] [datetime] NULL,
	[maLoai] [int] NOT NULL,
	[noiDung] [nvarchar](4000) NULL,
	[taiKhoan] [varchar](20) NOT NULL,
	[daDuyet] [bit] NULL,
	[soTap] [varchar](10) NULL,
	[giaBan] [int] NULL,
	[giamGia] [int] NULL,
	[nhaSanXuat] [nvarchar](168) NULL,
	[luotMua] [int] NULL,
	[ngayPH] [date] NULL,
	[doPG] [varchar](10) NULL,
	[thoiLuong] [nvarchar](50) NULL,
	[diemImdb] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 1/7/2022 12:27:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[taiKhoan] [varchar](20) NOT NULL,
	[matKhau] [varchar](200) NULL,
	[hoDem] [nvarchar](50) NULL,
	[tenTV] [nvarchar](30) NOT NULL,
	[ngaysinh] [datetime] NULL,
	[gioiTinh] [bit] NULL,
	[soDT] [nvarchar](20) NULL,
	[email] [nvarchar](50) NULL,
	[diaChi] [nvarchar](250) NULL,
	[trangThai] [bit] NULL,
	[ghiChu] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[taiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CtDonHang] ([soDH], [maPhim], [soLuong], [giaBan], [giamGia]) VALUES (N'2201040537', N'LLCRGTD3', 2, 210000, 0)
INSERT [dbo].[CtDonHang] ([soDH], [maPhim], [soLuong], [giaBan], [giamGia]) VALUES (N'2201040537', N'ZPA52T95', 1, 99000, 0)
INSERT [dbo].[CtDonHang] ([soDH], [maPhim], [soLuong], [giaBan], [giamGia]) VALUES (N'2201040650', N'3UDEVC45', 1, 210000, 20)
GO
INSERT [dbo].[DonHang] ([soDH], [maKH], [taiKhoan], [ngayDat], [daKichHoat], [ngayGH], [emailGH], [ghiChu]) VALUES (N'2201040537', N'0945321448', N'tri', CAST(N'2022-01-04T17:37:56.543' AS DateTime), NULL, CAST(N'2022-01-04T18:07:56.543' AS DateTime), N'minhchau12@gmail.com', N'5 sao')
INSERT [dbo].[DonHang] ([soDH], [maKH], [taiKhoan], [ngayDat], [daKichHoat], [ngayGH], [emailGH], [ghiChu]) VALUES (N'2201040650', N'0945321451', N'tri', CAST(N'2022-01-04T18:50:31.687' AS DateTime), NULL, CAST(N'2022-01-04T19:20:31.687' AS DateTime), N'laudaitinhai@gmail.com', N'bạn quá hư sẽ bị đàm phạt')
INSERT [dbo].[DonHang] ([soDH], [maKH], [taiKhoan], [ngayDat], [daKichHoat], [ngayGH], [emailGH], [ghiChu]) VALUES (N'2201040713', N'0944365321', N'tri', CAST(N'2022-01-04T19:13:41.253' AS DateTime), NULL, CAST(N'2022-01-04T19:43:41.253' AS DateTime), N'blackpinkinurarea@gmail.com', N'Blink is love')
GO
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [soDT], [email], [diaChi], [ngaySinh], [gioiTinh], [ghiChu], [lanMua]) VALUES (N'0944365321', N'Kim Jennie', N'0944365321', N'blackpinkinurarea@gmail.com', NULL, CAST(N'1996-01-16T00:00:00.000' AS DateTime), 0, N'Blink is love', NULL)
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [soDT], [email], [diaChi], [ngaySinh], [gioiTinh], [ghiChu], [lanMua]) VALUES (N'0945321448', N'Nguyễn Thị Minh Châu', N'0945321448', N'minhchau12@gmail.com', NULL, CAST(N'2000-12-12T00:00:00.000' AS DateTime), 0, N'5 sao', NULL)
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [soDT], [email], [diaChi], [ngaySinh], [gioiTinh], [ghiChu], [lanMua]) VALUES (N'0945321451', N'Đàm Vĩnh Hưng', N'0945321451', N'laudaitinhai@gmail.com', NULL, CAST(N'1971-11-11T00:00:00.000' AS DateTime), 1, N'bạn quá hư sẽ bị đàm phạt', NULL)
GO
SET IDENTITY_INSERT [dbo].[LoaiPhim] ON 

INSERT [dbo].[LoaiPhim] ([maLoai], [tenLoai], [ghiChu], [hinhDD], [hinhDD2]) VALUES (1, N'Hành Động', N'', N'/Media/Images/actionMovie.jpg', NULL)
INSERT [dbo].[LoaiPhim] ([maLoai], [tenLoai], [ghiChu], [hinhDD], [hinhDD2]) VALUES (2, N'Kinh Dị', NULL, N'/Media/Images/horrorMovie.jpg', NULL)
INSERT [dbo].[LoaiPhim] ([maLoai], [tenLoai], [ghiChu], [hinhDD], [hinhDD2]) VALUES (3, N'Hoạt Hình', NULL, N'/Media/Images/cartoonMovie.jpg', NULL)
SET IDENTITY_INSERT [dbo].[LoaiPhim] OFF
GO
INSERT [dbo].[TaiKhoan] ([taiKhoan], [matKhau], [hoDem], [tenTV], [ngaysinh], [gioiTinh], [soDT], [email], [diaChi], [trangThai], [ghiChu]) VALUES (N'dungct', N'3C-99-09-AF-EC-25-35-4D-55-1D-AE-21-59-0B-B2-6E-38-D5-3F-21-73-B8-D3-DC-3E-EE-4C-04-7E-7A-B1-C1-EB-8B-85-10-3E-3B-E7-BA-61-3B-31-BB-5C-9C-36-21-4D-C9-F1-4A-42-FD-7A-2F-DB-84-85-6B-CA-5C-44-C2', N'Nguyễn Anh', N'Dũng', CAST(N'1996-12-06T00:00:00.000' AS DateTime), 1, N'0935694223', N'dungct@gmail.com', N'201 Thành Thái, Q.10, TP.HCM', 1, N'')
INSERT [dbo].[TaiKhoan] ([taiKhoan], [matKhau], [hoDem], [tenTV], [ngaysinh], [gioiTinh], [soDT], [email], [diaChi], [trangThai], [ghiChu]) VALUES (N'iu', N'DD-AF-35-A1-93-61-7A-BA-CC-41-73-49-AE-20-41-31-12-E6-FA-4E-89-A9-7E-A2-0A-9E-EE-E6-4B-55-D3-9A-21-92-99-2A-27-4F-C1-A8-36-BA-3C-23-A3-FE-EB-BD-45-4D-44-23-64-3C-E8-0E-2A-9A-C9-4F-A5-4C-A4-9F', N'Lee Ji', N'Eun', CAST(N'1993-05-16T00:00:00.000' AS DateTime), 0, N'0194554287', N'manwol@gmail.com', N'37 Tân Cảng, Q.Bình Thạnh, TP.HCM', 1, N'')
INSERT [dbo].[TaiKhoan] ([taiKhoan], [matKhau], [hoDem], [tenTV], [ngaysinh], [gioiTinh], [soDT], [email], [diaChi], [trangThai], [ghiChu]) VALUES (N'miyuine', N'4A-3E-D8-14-7E-37-87-6A-DC-8F-76-32-8E-5A-BC-C1-B4-70-E6-AC-FC-18-EF-EA-01-35-F9-83-60-49-53-A5-8E-18-3C-1A-60-86-E9-1B-A3-E8-21-D9-26-F5-FD-EB-37-76-1C-7C-A0-32-8A-96-3F-5E-92-87-06-75-B7-28', N'Nguyễn Thị Mỹ', N'Duyên', CAST(N'2000-10-19T00:00:00.000' AS DateTime), 0, N'0945509377', N'miyuine1910@gmail.com', N'103 Hoàng Hoa Thám, Q.Tân Bình, TP.HCM', 1, N'')
GO
ALTER TABLE [dbo].[BaiViet] ADD  DEFAULT ((0)) FOR [daDuyet]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((1)) FOR [daKichHoat]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((1)) FOR [gioiTinh]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [lanMua]
GO
ALTER TABLE [dbo].[LoaiPhim] ADD  DEFAULT ('') FOR [ghiChu]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ('') FOR [hinhDD]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ('') FOR [hinhDD2]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ('') FOR [ndTomTat]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT (getdate()) FOR [ngayDang]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ('') FOR [noiDung]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ((0)) FOR [daDuyet]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ('') FOR [soTap]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ((0)) FOR [giaBan]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ((0)) FOR [giamGia]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ('') FOR [nhaSanXuat]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ((0)) FOR [luotMua]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [gioiTinh]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [trangThai]
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD FOREIGN KEY([taiKhoan])
REFERENCES [dbo].[TaiKhoan] ([taiKhoan])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CtDonHang]  WITH CHECK ADD FOREIGN KEY([maPhim])
REFERENCES [dbo].[Phim] ([maPhim])
GO
ALTER TABLE [dbo].[CtDonHang]  WITH CHECK ADD FOREIGN KEY([soDH])
REFERENCES [dbo].[DonHang] ([soDH])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([taiKhoan])
REFERENCES [dbo].[TaiKhoan] ([taiKhoan])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD FOREIGN KEY([maLoai])
REFERENCES [dbo].[LoaiPhim] ([maLoai])
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD FOREIGN KEY([taiKhoan])
REFERENCES [dbo].[TaiKhoan] ([taiKhoan])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD CHECK  (([giamGia]>=(0) AND [giamGia]<=(100)))
GO
USE [master]
GO
