
@{
    ViewBag.Title = "Index";
}

<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Về Chúng Tôi</h2>
                    <p>Thông tin liên hệ.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->
<section class="spad">
    <div class="container">
        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1280427756615!2d106.64499141480096!3d10.801503992304536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752948ca2bb501%3A0x45f324f6b5de3a38!2zMTAzIEhvw6BuZyBIb2EgVGjDoW0sIFBoxrDhu51uZyAxMywgVMOibiBCw6xuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5o!5e0!3m2!1sen!2s!4v1639111281756!5m2!1sen!2s" width="1500" height="700" style="border:1px solid;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>
